<a href="https://colab.research.google.com/github/lg550055/MLpremium/blob/main/LCdeHRk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def bup(r,c): # better unique paths from (1,1) to (r,c)
  if r==1 or c==1:
    return 1
  return bup(r-1, c) + bup(r, c-1)

bup(3,5)

In [ ]:
def powerSum(x, n):
  r = 0
  mx = int(x**(1/n))
  m = [i**n for i in range(1,mx+1)]
  
  def ps(x, n, c=0):
    print(c)
    c += n.pop()
    if c == x:
      return 1
    n = [i for i in m if i <= x-c]
    if c + sum(n) < x:
      return 0
    else:
      for e in n:
        ps(x, n, c)

  while m:
    if sum(m) < x:
      break
    c += m.pop()
    if c == x:
      r += 1
    else:
      t = [i for i in m if i <= x-c]
      for e in t:
        pass
    print('result', ps(x, m))

#  return r

powerSum(100, 2)

## Leetcode / Hacker Rank

In [ ]:
def nt(times, n, k):
    a = {}
    for t in times:
        if t[0] in a:
            a[t[0]] = a[t[0]] + [(t[1],t[2])]
        else:
            a[t[0]] = [(t[1],t[2])]
    print(a)
    def bfs(node, ac=0):
        if node not in a:
            return ac
        for e in a[node]:
            print(e, ac)
            bfs(e[0], ac+e[1])
            
    return bfs(k)

nt([[2,1,10],[2,3,11],[3,4,12]], 4, 2)

{2: [(1, 10), (3, 11)], 3: [(4, 12)]}
(1, 10) 0
(3, 11) 0
(4, 12) 11

In [ ]:
import string
a = string.ascii_lowercase
w = 'goose'
for ch in w:
  print(ch, a.index(ch)+1)

g 7
o 15
o 15
s 19
e 5

In [ ]:
# Input: times = [[2,1,1],[2,3,1],[3,4,1]], n = 4, k = 2
# Output: 2
# Input: times = [[1,2,1]], n = 2, k = 1
# Output: 1
# Input: times = [[1,2,1]], n = 2, k = 2
# Output: -1
import collections
def find(times, n , k):
    a = {i:[] for i in range(1,n+1)}
    for t in times:
        u, v, w = t
        a[u] = a[u] + [(v,w)]

    vstd = []
    q = collections.deque([(k,0)])
    t = 0
    while q:
      c,w = q.popleft()
      if c in vstd:
        continue
      vstd.append(c)      
      t = w
      for e in a[c]:
        if e[0] not in vstd:
          q.append( (e[0], t + e[1]) ) #accumulates time for particular seq
    if len(vstd) < n:
      return -1
    return t


# find([[2,1,1],[2,3,1],[3,4,1]], n = 4, k = 2)
find([[1,2,1],[2,3,2],[1,3,4]], 3, 1)
# find([[1,2,1]], n = 2, k = 1)
# find([[1,2,1]], n = 2, k = 2)

4

In [ ]:
# Input: l1 = [2,4,3], l2 = [5,6,4]
# Output: [7,0,8]
# Input: l1 = [0], l2 = [0]
# Output: [0]
# Input: l1 = [9,9,9,9,9,9,9], l2 = [9,9,9,9]
# Output: [8,9,9,9,0,0,0,1]

nc = []
nhead = nc
nc = [1,2]
nhead

[]

In [ ]:
# HR Arrays: Left Rotation
def rotLeft(a, d):
    l = len(a)
    ef = d % l
    r = [0]*l
    for i in range(l):
        r[i-ef] = a[i]
    return r

rotLeft([1,2,3,4,5],3)

[4, 5, 1, 2, 3]

In [ ]:
# HR Sherlock and Anagrams
def grams(s):
    size = 512
    p = 0
    hm = [None]*size
    def hsh(key):
        return (sum([ord(e) for e in str(key)]) * 1) % size
    for i in range(len(s)):
        for j in range(i+1,len(s)+1):
            if hm[hsh(s[i:j])] and len(s[i:j]) == len(hm[hsh(s[i:j])][0]):
                print('pair',s[i:j], hsh(s[i:j]))
                p += hm[hsh(s[i:j])][1]
                hm[hsh(s[i:j])][1] += 1
            else:
                hm[hsh(s[i:j])] = [s[i:j], 1]
                print(s[i:j], hsh( s[i:j] ))
    return p

grams('abba')
# grams('ifailuhkqq')
# grams('kkkk')

a 97
ab 195
abb 293
abba 390
b 98
bb 196
pair bba 293
pair b 98
pair ba 195
pair a 97

4

In [ ]:
# HR Count Triplets
def ct(arr, r):
    d = {}
    s = {}
    t = 0
    for e in arr:
        if e/r in d:
            t += d[e/r]
        if e/r in s:
            d[e] = s[e/r] if e not in d else d[e] + s[e/r]
        s[e] = 1 if e not in s else s[e] + 1
        # print(s,d,t)
    return t

# ct([1,2,2,4],2)
# ct([2,2,1,1,4],2)
# ct([2,2,1,1,2,4],2)
# ct([1,1,2,2,4,8],2)
# ct([1,3,9,9,27,81],3)
# ct([1,5,5,25,125],5)
# ct([125,1,5,5,25],5)
# ct([1, 1, 1],1)

6

In [ ]:
# HR Frequency Queries
def freqQuery(queries):
    d = {}
    f = []
    for e in queries:
        if e[0] == 1:
            d[e[1]] = 1 if e[1] not in d else d[e[1]] +1
        if e[0] == 2 and e[1] in d and d[e[1]] > 0:
            d[e[1]] -= 1
        if e[0] == 3:
            if e[1] in d.values():
                f.append(1)
            else:
                f.append(0)
    return f

# freqQuery([(1,1),(2,2),(3,2),(1,1),(1,1),(2,1),(3,2)])
freqQuery([(3,4),(2,1003),(1,16),(3,1)])

[0, 1]

In [ ]:
# HR Fraudulent Activity Notifications
def an(expenditure, d):
    nt = 0
    hm = {}
    def get_med(idx):
        s = 0
        for i in range(201): # expenditures are between 0 - 200
            if i in hm:
                s += hm[i]
                if s >= idx:
                    return i
    for i in range(len(expenditure)):
        v = expenditure[i]
        if i >= d:
          m = get_med(d//2 +1)
          if d%2:
              if v >= m*2:
                  nt += 1
                  print(hm,v)
          else:
              if v >= m + get_med(d//2):
                nt += 1
                print(hm,v)
          hm[expenditure[i-d]] -= 1 # remove oldest element from period
        hm[v] = 1 if v not in hm else hm[v] +1 # add new element to period
    return nt

from statistics import median
def an0(expenditure, d):
    nt = 0
    for i in range(d,len(expenditure)):
      if expenditure[i] >= 2*median(expenditure[i-d:i]):
        nt += 1
        print(expenditure[i-d:i], expenditure[i])
    return nt

# e,d = [2, 3, 4, 2, 3, 6, 8, 4, 5],5
# e,d = [2, 3, 4, 2, 3, 6, 8, 4, 5],3
# e,d = [2, 3, 4, 2, 3, 6, 8, 4, 5],2
# e,d = [1,2,3,4,4],4
# e,d = [1,2,3,4,4],1
# e,d = [1,2,3,4,4],5
# e,d = [1,1,1,1,6,7,8,9,1,1,1,2],4
# e,d = [1,1,1,1,6,7,8,9,1,1,1,2],2
# e,d = [1,1,1,1,6,7,8,9,1,1,1,2],7
# e,d = [1,1,1,1,6,7,8,9,1,1,1,2],1
# e,d = [10,20,30,40,50],3
# e,d = [10,20,30,40,50],1
# e,d = [10,20,30,40,50],4
e,d = [10,20,30,40,50],5
# e,d = [1,2,3,4,4,2,2,4,4,5,6,1,2,1],3
# an0(e,d)
print(an(e,d), an0(e,d))

0 0

In [ ]:
# HR NY Chaos
def mb(q):
  m = 0
  for i,e in enumerate(q, 1):
    if e-i > 2:
      print('Too chaotic')
      return
    if e <= i:
      # bribed, by how many people?
      for j in range(max(e-2,0), i-1):
        if q[j] > e:
          m += 1
  print(m)

# q = [4,1,2,3]
# q = [2, 1, 5, 3, 4]
# q = [2, 1, 5, 4, 3]
# mb([2, 5, 1, 3, 4])
# mb([5,1,2,3,7,8,6,4])
# mb([1,2,5,3,7,8,6,4])
# mb([1,2,5,3,4,7,8,6])
# mb([1,2,5,3,4,9,7,8,6])
s = '2 1 5 6 3 4 9 8 11 7 10 14 13 12 17 16 15 19 18 22 20 24 23 21 27 28 25 26 30 29 33 32 31 35 36 34 39 38 37 42 40'
s2 = '2 1 5 6 3 4 9 8 11 7 10 14 13 12 17 16 15 19 18 22 20 24 23 21 27 28 25 26 30 29 33 32 31 35 36 34 39 38 37 42 40 44 41 43 47 46 48 45 50 52 49 51 54 56 55 53 59 58 57 61 63 60 65 64 67 68 62 69 66 72 70 74 73 71 77 75 79 78 81 82 80 76 85 84 83 86 89 90 88 87 92 91 95 94 93 98 97 100 96 102 99 104 101 105 103 108 106 109 107 112 111 110 113 116 114 118 119 117 115 122 121 120 124 123 127 125 126 130 129 128 131 133 135 136 132 134 139 140 138 137 143 141 144 146 145 142 148 150 147 149 153 152 155 151 157 154 158 159 156 161 160 164 165 163 167 166 162 170 171 172 168 169 175 173 174 177 176 180 181 178 179 183 182 184 187 188 185 190 189 186 191 194 192 196 197 195 199 193 198 202 200 204 205 203 207 206 201 210 209 211 208 214 215 216 212 218 217 220 213 222 219 224 221 223 227 226 225 230 231 229 228 234 235 233 237 232 239 236 241 238 240 243 242 246 245 248 249 250 247 244 253 252 251 256 255 258 254 257 259 261 262 263 265 264 260 268 266 267 271 270 273 269 274 272 275 278 276 279 277 282 283 280 281 286 284 288 287 290 289 285 293 291 292 296 294 298 297 299 295 302 301 304 303 306 300 305 309 308 307 312 311 314 315 313 310 316 319 318 321 320 317 324 325 322 323 328 327 330 326 332 331 329 335 334 333 336 338 337 341 340 339 344 343 342 347 345 349 346 351 350 348 353 355 352 357 358 354 356 359 361 360 364 362 366 365 363 368 370 367 371 372 369 374 373 376 375 378 379 377 382 381 383 380 386 387 384 385 390 388 392 391 389 393 396 397 394 398 395 401 400 403 402 399 405 407 406 409 408 411 410 404 413 412 415 417 416 414 420 419 422 421 418 424 426 423 425 428 427 431 430 429 434 435 436 437 432 433 440 438 439 443 441 445 442 447 444 448 446 449 452 451 450 455 453 454 457 456 460 459 458 463 462 464 461 467 465 466 470 469 472 468 474 471 475 473 477 476 480 479 478 483 482 485 481 487 484 489 490 491 488 492 486 494 495 496 498 493 500 499 497 502 504 501 503 507 506 505 509 511 508 513 510 512 514 516 518 519 515 521 522 520 524 517 523 525 526 529 527 531 528 533 532 534 530 537 536 539 535 541 538 540 543 544 542 547 548 545 549 546 552 550 551 554 553 557 555 556 560 559 558 563 562 564 561 567 568 566 565 569 572 571 570 575 574 577 576 579 573 580 578 583 581 584 582 587 586 585 590 589 588 593 594 592 595 591 598 599 596 597 602 603 604 605 600 601 608 609 607 611 612 606 610 615 616 614 613 619 618 617 622 620 624 621 626 625 623 628 627 631 630 633 629 635 632 637 636 634 638 640 642 639 641 645 644 647 643 646 650 648 652 653 654 649 651 656 658 657 655 661 659 660 663 664 666 662 668 667 670 665 671 673 669 672 676 677 674 679 675 680 678 681 684 682 686 685 683 689 690 688 687 693 692 691 696 695 698 694 700 701 702 697 704 699 706 703 705 709 707 711 712 710 708 713 716 715 714 718 720 721 719 723 717 722 726 725 724 729 728 727 730 733 732 735 734 736 731 738 737 741 739 740 744 743 742 747 746 745 750 748 752 749 753 751 756 754 758 755 757 761 760 759 764 763 762 767 765 768 766 771 770 769 774 773 776 772 778 777 779 775 781 780 783 784 782 786 788 789 787 790 785 793 791 792 796 795 794 798 797 801 799 803 800 805 802 804 808 806 807 811 809 810 814 812 813 817 816 819 818 815 820 821 823 822 824 826 827 825 828 831 829 830 834 833 836 832 837 839 838 841 835 840 844 842 846 845 843 849 847 851 850 852 848 855 854 853 857 856 858 861 862 860 859 863 866 865 864 867 870 869 868 872 874 875 871 873 877 878 876 880 881 879 884 883 885 882 888 886 890 891 889 893 887 895 892 896 898 894 899 897 902 901 903 905 900 904 908 907 910 909 906 912 911 915 913 916 918 914 919 921 917 923 920 924 922 927 925 929 928 926 932 931 934 930 933 935 937 939 940 938 936 943 944 942 941 947 946 948 945 951 950 949 953 952 956 954 958 957 955 961 962 963 959 964 966 960 965 969 968 971 967 970 974 972 976 973 975 979 977 981 982 978 980 983 986 984 985 989 988 987 990 993 991 995 994 997 992 999 1000 996 998'
r = 966
q = list(map(int, s2.rstrip().split()))
mb(q)

966

In [ ]:
#HR Strings: Making Anagrams
def makeAnagram(a, b):
  e = 0
  d = {}
  for ch in a:
    d[ch] = 1 if ch not in d else d[ch] +1
  for ch in b:
    d[ch] = -1 if ch not in d else d[ch] -1
  for v in d.values():
    e += abs(v)
  
  return e

# test cases
# a = 'cde'
# b = 'abc'
a = 'cde'
b = 'dcf'
makeAnagram(a, b)

2

In [48]:
# HR Alternating Characters
def ac(s):
  d = 0
  for i in range(len(s)-1):
    if s[i] == s[i+1]:
      d += 1
  return d

#tests
# s = 'AABAAB' # 2
# s = 'AAAA' # 3
# s = 'BABABA' # 0
s = 'AAABBB' # 4
ac(s)

4

In [94]:
# HR Sherlock and the Valid String
def isValid(s):
  d = {}
  for ch in s:
    d[ch] = 1 if ch not in d else d[ch] +1
  l = d.values()
  s = sorted(l)
  ls = len(s)
  sms = sum(s)
  if s[0] == 1 and (sms <= ls +1 or sms == s[-1]*(ls-1)+1):
    return 'YES'
  if sms == s[0]*ls or sms == s[0]*ls +1:
    return 'YES'
  return 'NO'

# tests
t = 'aaabbbcc' # n
# t = 'abc' # y
# t = 'abcc' # y
# t = 'cabc' # y
# t = 'abccc' # n
# t = 'aabbcd' # n
# t = 'abcdefghhgfedecba' # y
# t = 'aabbccddeefghi' # n
# t = 'ibfdgaeadiaefgbhbdghhhbgdfgeiccbiehhfcggchgghadhdhagfbahhddgghbdehidbibaeaagaeeigffcebfbaieggabcfbiiedcabfihchdfabifahcbhagccbdfifhghcadfiadeeaheeddddiecaicbgigccageicehfdhdgafaddhffadigfhhcaedcedecafeacbdacgfgfeeibgaiffdehigebhhehiaahfidibccdcdagifgaihacihadecgifihbebffebdfbchbgigeccahgihbcbcaggebaaafgfedbfgagfediddghdgbgehhhifhgcedechahidcbchebheihaadbbbiaiccededchdagfhccfdefigfibifabeiaccghcegfbcghaefifbachebaacbhbfgfddeceababbacgffbagidebeadfihaefefegbghgddbbgddeehgfbhafbccidebgehifafgbghafacgfdccgifdcbbbidfifhdaibgigebigaedeaaiadegfefbhacgddhchgcbgcaeaieiegiffchbgbebgbehbbfcebciiagacaiechdigbgbghefcahgbhfibhedaeeiffebdiabcifgccdefabccdghehfibfiifdaicfedagahhdcbhbicdgibgcedieihcichadgchgbdcdagaihebbabhibcihicadgadfcihdheefbhffiageddhgahaidfdhhdbgciiaciegchiiebfbcbhaeagccfhbfhaddagnfieihghfbaggiffbbfbecgaiiidccdceadbbdfgigibgcgchafccdchgifdeieicbaididhfcfdedbhaadedfageigfdehgcdaecaebebebfcieaecfagfdieaefdiedbcadchabhebgehiidfcgahcdhcdhgchhiiheffiifeegcfdgbdeffhgeghdfhbfbifgidcafbfcd'
isValid(t)

'NO'

In [7]:
# HR Special String Again
def substrCount(n, s):
  c = n
  for i in range(n):
    lc = 1
    sw = 1
    for j in range(i+1,n):
      if sw == -1 and s[j] != s[i]:
        break
      if s[j] == s[i]:
        lc += 1*sw
        if sw == 1:
          c += 1
        if lc == 0:
          c += 1
          break
      else:
        sw = -1
  return c

# tests
# s = 'mnonopoo'
# s = 'asasd'
# s = 'abcbaba'
# s = 'aaaa'
n = len(s)
substrCount(n, s)

10